/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

/* Hero section start */
#logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 8px;
}

#hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

#hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px;
  gap: 22px;
  flex-basis: 500px;
  box-sizing: border-box;
}

#hero-content-left {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  gap: 8px;
}

#hero-content-left-big {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
}

#hero-content-left-small {
  color: #E5E7EB;
  font-size: 18px;
}

#hero-button {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882F6;
  border: 0;
  border-radius: 6px;
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

/* Random info section */
#random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  height: 500px;
}

#random-info-header {
  color: rgb(33, 32, 32);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 64px;
  padding: 12px;
}

#info-box {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  text-align: center;
}

#rectangle {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 3px #3882F6;
  border-style: solid;
  border-radius: 4px;
}

/* Quotes section */

#quotes {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 500px;
}

#quotes-box {
  display: flex;
  flex-direction: column;
}

#quotes-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  max-width: 900px;
}

#author {
  font-size: 24px;
  color: black;
  font-weight: bold;
  align-self: flex-end;
  font-style: italic;
}

/* Call-to-action */

#call-to-action {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#call-to-action-box {
  display: flex;
  background-color: #3882F6;
  width: 1100px;
  height: 150px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#call-text {
  font-weight: 900;
  font-size: 24px;
  color: white;
}

#call-text-small {
  font-weight: 300;
  font-size: 16px;
  color: white;
}

#call-button {
  background-color: #3882F6;
  color: white;
  border: 2px white;
  border-radius: 4px;
  border-style: solid;
  font-size: 18px;
  width: 100px;
  height: 30px;
}

/* Footer section */

.footer {
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
}